.card-img {
  background-color: grey;
  border-radius: 20px;
  margin: 20px 20px;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.card {
  min-height: 200px;
  height: auto;
  margin: 30px auto;
  display: grid;
  &.card-news {
    max-width: 700px;
    grid-template-columns: 3fr 2fr;
    .card-content {
      align-content: center;
      text-align: center;
      justify-content: center;
      button {
        margin: 20px auto;
      }
    }
  }
  &.card-article {
    border: 1px solid rgba(91, 91, 255, 0.434);
    width: 100%;
    grid-template-columns: 1fr 2fr;
    .card-content {
        align-content: start;
        h1{
            font-size: 2rem;
            color: blue;
        }
        small{
            color: gray;
        }
        p{
            margin-top: 10px;
        }
    }
  }
}

.card-round {
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  height: auto;
  flex-direction: column;
  align-content: center;
  background-color: rgb(113, 113, 255);
  width: 350px;
  border-top-right-radius: 180px;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 50px;
  .card-round-img {
    align-self: center;
    background-color: rgb(128, 128, 128);
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 180px;
    z-index: 1;
  }
  .card-content {
    margin-top: 20px;
    height: auto;
  }
}

.round-cards-view {
  display: flex;
  justify-content: center;
}
