.btn {
  padding: 3px 15px;
  border-radius: 20px;
  font: inherit;
  border: none;
  color: white;
  cursor: pointer;
  &.btn-alt {
    background-color: purple;
  }
  &.btn-alt:hover {
    background-color: rgb(192, 0, 192);
  }
  &.btn-blue {
    background-color: rgb(0, 0, 108);
  }
  &.btn-blue:hover {
    background-color: rgb(0, 0, 186);
  }
}

.tab {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  &.tab-secondary {
    background-color: lightcyan;
    color: black;
  }
  &.tab-secondary:hover {
    background-color: rgb(0, 0, 108);
    color: white;
  }
  &.tab-primary {
    background-color: rgb(0, 0, 108);
    color: white;
  }
}

.text {
  &-primary {
    color: rgb(0, 0, 108);
  }
}
